
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="form-login">
                    <h2>New Task</h2>
                    <%= render 'form' %>
                    <%= link_to "Back", project_tasks_path %>
                </div>
            </div>
        </div>
    </div>

