// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

h1, h2, h3, p {
   color: $gray;
}

h1 {
  font-size: 40px;
  font-weight: 600;
}

h2 {
  font-size: 32px;
  font-weight: 400;
}

h3 {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}

h4 {
  font-size: 18px;
  font-weight: 300;
}

p {
  font-size: 16px;
  font-weight: 300;
  color: $dark-gray;
}
