<!-- <div class="container profile-card"> -->
  <!-- <%# @users.each do |user| %>
    <%# if user.role == "expert" %>
      <%# if user.photo.url.nil? %>
        <%#= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSd-e9Kn0P1AAKT-EdAiaAVUvBtRVAJqONXIL0pJ402cOAzVi0i", class: "avatar dropdown-toggle", class: "medium-avatar" %>
      <%# else %>
        <%#= cl_image_tag current_user.photo, height: 300, width: 400, crop: :fill, class: "medium-avatar" %>
      <%# end %>
      <!- <div> -->
        <!-- <h3><strong><%#= "#{user.first_name.capitalize} #{user.last_name.capitalize}" %></strong></h3> -->
        <!-- <p><%#= user.email %></p> -->
      <!-- </div> -->
    <%# end %>
  <%# end %> <!-- </div> -->

<div class="container">
  <%= form_tag experts_filter_path , method: :get do %>
    Country: <input type="text" name="country" >
    <!-- Industry:<input type="text" name="industry" > -->
    Availability: <input type="text" name="availability" >
    <input type="submit">
  <% end %>
  <% @users.each do |user| %>
    <ul>
      <%= user.email %>
    </ul>
    <% end %>
  </div>

</div>



<!-- Need to install this: https://semantic-ui.com/introduction/getting-started.html#install-semantic-ui
https://semantic-ui.com/modules/dropdown.html -->
