
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(50,50,50,0.5) 0%, rgba(50,50,50,0.3) 50%), url('https://images.pexels.com/photos/1451448/pexels-photo-1451448.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');">
  <div class="banner-content">
    <h1>WISOR</h1>
    <h3>Local insights at your fingertips</h3>
    <br>
    <div class="container">
      <div class="row">
        <% if user_signed_in? && current_user.role == "client" %>
          <div class="col-xs-12">
            <%= link_to "New project", new_project_path, class: "btn btn-success" %>
          </div>
        <% elsif user_signed_in? %>
          <div class="col-xs-12">
            <%= link_to "My projects", projects_path, class: "btn btn-success" %>
          </div>
        <% else %>
          <div class="col-xs-12">
            <%= link_to "Become a knowledge professional", new_user_registration_path, class: "btn btn-success btn-side-mgn" %>
            <%= link_to "Become a client", new_user_registration_path, class: "btn btn-success btn-side-mgn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
