
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="form-login">
                    <h2>Edit Project</h2>
                    <%= render 'form', project: @project %>
                </div>
            </div>
        </div>
    </div>

