<div class="wrap container">

  <div class="project-nav">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li role="presentation" class="active"><a href="#current-projects" aria-controls="current-projects" role="tab" data-toggle="tab">Current projects</a></li>
      <li role="presentation"><a href="#pending-projects" aria-controls="pending-projects" role="tab" data-toggle="tab">Pending projects</a></li>
      <li role="presentation"><a href="#past-projects" aria-controls="past-projects" role="tab" data-toggle="tab">Past projects</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="current-projects">
        <% @projects.where(approved: true, status: false).each do |project| %>
          <%= render "project_card", project: project %>
        <% end %>
      </div>
      <div role="tabpanel" class="tab-pane" id="pending-projects">
        <% @projects.where(approved: false, status: false).each do |project| %>
          <%= render "project_card", project: project %>
        <% end %>
      </div>
      <div role="tabpanel" class="tab-pane" id="past-projects">
        <% @projects.where(approved: true, status: true).each do |project| %>
          <%= render "project_card", project: project %>
        <% end %>
      </div>
    </div>
  </div>

</div>

