/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  border: none;
  position: absolute;
  z-index: 2;
  width: 100%;
}
.alert-info {
  background: rgba($green, 0.6);
}
.alert-warning {
  background: rgba($red, 0.6);
}
