.banner {
  position: relative;
  z-index: 1;
  margin-top: -55px;
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: white;
    font-size: 70px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.1);
  }
  h3 {
    color: white;
    font-size: 30px;
    font-weight: 500;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.1);
  }
  p {
    font-size: 25px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    opacity: 0.6;
    margin-bottom: 30px;
  }
  .form-control-label {
    color: $dark-gray;
    text-align: left !important;
  }
  .btn {
    // margin: 10px auto;
    padding: 15px 20px;
    margin: 10px 20px;
    width: 300px;
    font-size: 16px;
    font-weight: lighter;
  }
}

